<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Age:<br>
  <input type="text" name="age"><br>
  Gender:<br>
  <input type="text" name="gender"><br>
  Height:<br>
  <input type="text" name="height"><br>
  Weight:<br>
  <input type="text" name="weight"><br>
  <form action="/patients" method="post">
      <input type="submit">
  </form>
</form>
